}
/*progress bar margin*/
.mt-2 {
  margin-top: 2.0rem !important;
}
  
/*====================================================================================================== 
Progress Bar on mobile || 375 x 812 || Default, Portrait and Landscape 
======================================================================================================== */
@media only screen and (min-width: 375px) 
and (max-width: 812px){ 
    .progress, .progress-stacked {
      width:350px;
      height:22px;
      background-color: #eeeeee;/*{display: none !important; visibility: hidden !important;}*/
  }
    .form-control {
      color: #000;
      background-color: #eeeeee;
  }
    .form-select {
      color: #000;
      background-color: #eeeeee;
  }
    .text-start.btn.btn-light.dalabelauty {
      --bs-btn-color: #000;
      --bs-btn-bg: #f8f9fa;
      --bs-btn-border-color: #f8f9fa;
  }
    .row {
      --bs-gutter-x: 2.5rem;
      --bs-gutter-y: .5rem;
  }
    .mt-2 {
      margin-top: 2.0rem !important;
  }
}
  
@media only screen and (min-width: 375px) 
and (max-width: 812x) and (orientation: portrait) { 
    .progress, .progress-stacked {
      width:350px;
      height:22px;
      background-color: #eeeeee;/*{display: none !important; visibility: hidden !important;}*/
  }
    .form-control {
      color: #000;
      background-color: #eeeeee;
  }
    .form-select {
      color: #000;
      background-color: #eeeeee;
  }   
    .text-start.btn.btn-light.dalabelauty {
      --bs-btn-color: #000;
      --bs-btn-bg: #f8f9fa;
      --bs-btn-border-color: #f8f9fa;
  }
    .row {
      --bs-gutter-x: 2.5rem;
      --bs-gutter-y: .5rem;
  }
    .mt-2 {
      margin-top: 2.0rem !important;
  }
}
  
@media only screen and (min-width: 375px) 
and (max-width: 812px) and (orientation: landscape) { 
    .progress, .progress-stacked {
      width:500px;
      height:22px;
      background-color: #eeeeee;/*{display: none !important; visibility: hidden !important;}*/
  }      
    .form-control {
      color: #000;
      background-color: #eeeeee;
  }
    .form-select {
      color: #000;
      background-color: #eeeeee;
  } 
    .text-start.btn.btn-light.dalabelauty {
      --bs-btn-color: #000;
      --bs-btn-bg: #f8f9fa;
      --bs-btn-border-color: #f8f9fa;
  }
    .row {
      --bs-gutter-x: 2.5rem;
      --bs-gutter-y: .5rem;
  }
    .mt-2 {
      margin-top: 2.0rem !important;
  }
}
  
